body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Primary background color */
  color: #fff; /* Text color */
}

header {
  background-color: #5040B0; /* Primary color */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}

h1, h2 {
  color: #fff; /* Text color */
}

#dropArea {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white */
}

#tilesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center image tiles */
  gap: 20px; /* Add gap between tiles */
}

.logout-btn {
  background-color: #5040B0; /* Primary color */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.upload-btn {
  background-color: #5040B0; /* Primary color */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
}

.upload-button {
  background-color: #5040B0; /* Primary color */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
}

.tile {
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color: #333; /* Background color for image tiles */
  text-align: center;
  width: 33%; /* Approximately 3 tiles per row */
  max-width: 500px; /* Ensure tiles do not get too large */
  flex: 1 1 calc(33.33% - 40px); /* Adjust for gap */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Space out the content vertically */
}

.tile img {
  width: 100%; /* Ensure images fill the tile width */
  height: 250px; /* Fixed height for all images */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.tile select {
  width: 200px; /* Ensure select elements take the full width of their container */
  max-width: 200px; /* Set a maximum width for consistency */
  height: 40px; /* Set a consistent height for all dropdown menus */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  margin-top: 5px;
  text-align: center;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.tag-item {
  flex: 1 1 calc(33.33% - 20px); /* Adjust to control the number of items per row */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px; /* Ensure consistency in the width of each tag item */
}

.dominant-colors {
  margin-top: 10px;
}

.dominant-colors h3 {
  margin: 10px 0;
}

.color-squares {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.color-square {
  width: 20px;
  height: 20px;
  background-color: #fff; /* Placeholder color */
  border: 1px solid #ccc;
}

.label {
  display: block;
  margin-top: 10px;
  color: #fff; /* Text color */
}

.input-field {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  margin-top: 5px;
  text-align: center;
}

.textarea-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  margin-top: 5px;
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of viewport */
  background-color: #121212; /* Primary background color */
}

.login-form {
  background-color: #333; /* Form background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form button {
  background-color: #5040B0; /* Primary color */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #6b5acd;
}

.error-message {
  color: #ffbcbc;
  margin-top: 10px;
}

.dominant-colors {
  margin-top: 10px;
}

.dominant-colors h3 {
  margin: 10px 0;
}

.color-squares {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.color-square {
  width: 20px;
  height: 20px;
  background-color: #fff; /* Placeholder color */
  border: 1px solid #ccc;
}

.toggle-multiple-sizes {
  margin-top: 10px;
}

.toggle-multiple-sizes button {
  background-color: #5040B0; /* Primary color */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.toggle-multiple-sizes button:hover {
  background-color: #6b5acd;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-top: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5040B0;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.toggle-label {
  margin-left: 20px;
  color: #fff;
}

.dimensions {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dimensions label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.dimensions input {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.tags {
  margin-top: 15px;
}

.tags ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags li {
  text-align: center;
  color: #fff; /* Text color for tags */
}

.tile {
  position: relative; /* Ensure relative positioning for the dropdown menu */
}

.dominant-colors {
  margin-top: 10px;
}

.dominant-colors h3 {
  margin: 10px 0;
}

.color-squares {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.color-square {
  width: 20px;
  height: 20px;
  background-color: #fff; /* Placeholder color */
  border: 1px solid #ccc;
}

.menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.menu-dot {
  width: 4px;
  height: 4px;
  background-color: #ccc;
  margin: 2px 0;
  border-radius: 50%;
}

.menu-dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  z-index: 1000;
}

.menu-dropdown ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.menu-dropdown li {
  padding: 5px 10px;
  cursor: pointer;
  color: #fff; /* Text color for dropdown items */
}

.menu-dropdown li:hover {
  background-color: #333; /* Darker background on hover */
}

.menu-dropdown li.selected-group {
  background-color: #555; /* Highlighted background color for selected item */
}


.add-group {
  display: flex;
  align-items: center;
  padding: 10px;
}

.add-group input {
  flex-grow: 1;
  margin-right: 5px;
}

.add-group button {
  padding: 5px 10px;
  border: none;
  background-color: #5040B0;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.add-group button:hover {
  background-color: #6b5acd;
}

.login-container, .login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.logout-btn, .view-btn {
  margin: 10px;
  padding: 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination-controls button.active {
  background-color: #6200ea;
  color: white;
}

.top-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.top-buttons .view-btn {
  margin: 0 5px;
  padding: 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  cursor: pointer;
}

.top-buttons .view-btn:hover {
  background-color: #6b5acd;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination-controls button.active {
  background-color: #6200ea;
  color: white;
}

.profile-picture {
  position: absolute;
  right: 20px;
  top: 20px;
}

.profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}


.insight-image {
  width: 150px; /* Fixed width for the image */
  height: 100px; /* Fixed height for the image */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  border-radius: 8px; /* Optional: Add rounded corners */
  margin-right: 20px; /* Space between image and details */
}

.insight-details {
  flex: 1; /* Allow this section to take the remaining space */
}

.insight-details h2 {
  margin: 0;
  font-size: 18px;
}

.insight-details p {
  margin: 5px 0;
}

.insight-card .checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Space between checkboxes */
}

.checkbox-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-container input {
  margin-top: 5px;
}

.group-dropdown-container {
  position: relative;
}

.insight-details {
  margin-top: 10px;
}

.checkbox-container {
  margin-top: 10px;
}

.dropdown-container {
  margin-top: 10px;
}

.insight-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px 0;
}

.content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
  text-align: center;
}

.image-row {
  flex: 1;
  margin-right: 16px;
}

.insight-details {
  flex: 2;
  margin-right: 16px;
}

.checkbox-container {
  flex: 1;
  margin-right: 16px;
}

.dropdown-container {
  flex: 1;
}

.stats-row {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.stats-header, .stats-data {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align items */
  padding: 8px 0; /* Add some padding for better spacing */
}

.stats-header span, .stats-data span {
  flex: 1;
  text-align: center;
}

.stats-data {
  text-align: center;
}

.profile-img-small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 5px;
}

.top-profiles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0; /* Remove padding to fit the image precisely */
  background: transparent; /* Remove background color */
  border-radius: 0; /* Optional: remove border radius if needed */
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
}


.modal img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Scale image to fit without being cut off */
}

.search-bar {
  margin: 20px 0;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.input-field.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}

.upload-button:disabled {
  background-color: #ccc; /* Example style for disabled button */
  cursor: not-allowed;
}

/* Optional: Adjust layout for smaller screens */
@media (max-width: 768px) {
  .insight-card {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: flex-start; /* Align items to the start */
  }

  .insight-image {
    width: 100%; /* Make image responsive */
    height: auto;
    margin-bottom: 10px; /* Space between image and details */
  }

  .checkbox-container {
    flex-direction: row; /* Align checkboxes horizontally */
    margin-left: 0; /* Remove left margin */
  }

  .checkbox-container label {
    margin-right: 10px; /* Space between checkboxes */
  }
}
